*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: rgb(255, 232, 192);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 169, 225);
    display: flex;
    justify-content: center;
}
.logo, h1{
    margin-right: 15px;
    height: 80%;
    width: auto;
    align-self: center;
    font-size: 2em;
}

.info-panel{
    margin: 5%;
    width: 90%;
    height: 150px;
    display: flex;
    background-color: rgb(203, 146, 183);
    border-radius: 5px;
}
.info{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.info-item, h2{
    margin-bottom: 10px;
}

.control-panel{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.feed{
    margin: auto;
    font-size: 22px;
    padding: 10px;
    background-color: rgb(203, 146, 183);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 70%;
}

footer{
    background-color: rgb(203, 146, 183);
    margin-top: auto;
    margin-bottom: 0;
    padding: 20px;
    display: flex;
}
.footer-copyright{
    margin: auto;
    text-align: center;
    align-self: center;
}
.footer-project-reciber{
    align-self: center;
    display: flex;
    width: 20%;
}
.footer-project-reciber > img{
    width: 100%;
    height: auto;
}