*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
body{
    background-color: rgb(2, 14, 27);
}
.admin-section{
    display: flex;
    padding: 30px;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 20px;
}

.info-box{
    display: flex;
}
.info-item{
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 6px;
    margin-right: 5px;
}
.info-item > p{
    align-self: center;
    font-size: 35px;
    padding: 10px;
}
.info-item > div{
    margin-top: auto;
    margin-bottom: 0;
    border-top: 1px solid #fff;
    padding: 10px;
}

form{
    display: flex;
}
form > div{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    display: flex;
    margin-right: 20px;
}
form > div > input{
    font-size: 40px;
    border: none !important;
    outline: none !important;
    background-color: transparent;
    overflow: none;
    max-width: 240px;
}
form > div > p{
    font-size: 40px;
}
#puja{
    width: 140px;
}

.app-button:hover{
    cursor: pointer;
    background-color: #123;
}