@font-face {
    font-family: 'oswald';
    src: url('../views/oswald.ttf');
}
body{
    overflow: hidden;
}
*{
    font-family: 'oswald';
    font-weight: bolder;
}
.view-box{
    height: 1080px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    background-image: url('../views/graph.png');
    background-size: cover;
}
.sell-box{
    margin-top: auto;
    margin-bottom: 74px;
    margin-left: 320px;
}
.sell-info{
    display: flex;
    height: 85px !important;
    margin-bottom: 17px !important;
}
.sell-price > div{
    height: 97px;
    width: 650px;
    display: flex;
}

.sell-info-box{
    display: flex;
    flex-direction: row; 
    max-height: 99px !important;
}
.sell-info-box > *{
    align-self: center;
    margin-right: 10px;
    margin-left: 20px;
}

.view-box > div > div > *{
    font-size: 50px;
    color: #fff;
    margin-right: 10px;
    align-self: center;
}

#puja {
    font-size: 50px;
    align-self: center;
    margin-left: 20px;
}

.paleta-info{
    margin-left: 90px;
}